<div class="budget">
    <div class="budget-wrapper">
        <div class="budget-wrapper-income">
            <h2>Income</h2>
            <div *ngFor="let item of budgetItems">
                <app-budget-item-card
                    *ngIf="item.amount >= 0"
                    [item]="item"
                    (DeleteClick)="onDeleteButtonClicked(item)"
                    
                ></app-budget-item-card>
            </div>
        </div>
        <div class="budget-wrapper-expense">
            <h2>Expenses</h2>
            <div *ngFor="let item of budgetItems">
                <app-budget-item-card
                    *ngIf="item.amount < 0"
                    [item]="item"
                    (DeleteClick)="onDeleteButtonClicked(item)"
                ></app-budget-item-card>
            </div>
        </div>
    </div>
</div>
